<launch>
    <!--  Gazebo  -->

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find robot)/worlds/countryside.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <include file="$(find robot)/launch/description.launch">
    </include>

    <include file="$(find robot)/launch/control.launch">
    </include>

</launch>