<launch>

    <!-- Load model in Gazebo -->
    <include file="$(find progetto_rana)/launch/gazebo.launch">
    </include>

    <!-- Load model in Rviz -->
    <arg name="rviz" default="false"/>

    <group if="$(eval arg('rviz') == true)">
        <include file="$(find progetto_rana)/launch/rviz2.launch" >
        </include>
    </group>

    <!-- Map -->
    <!--include file="$(find progetto_rana)/launch/mapping.launch" >
    </include-->

    <!-- Load navigation -->
    <include file="$(find progetto_rana)/launch/navigation.launch" >
    </include>
    
    
    <!-- From gps to odom coordinates -->
    <node pkg="gps_common" type="utm_odometry_node" name="utm_odometry_node">
        <remap from="/fix" to="/gps_target"/>
        <remap from="/odom" to="/gps_odom"/>
    </node>

    <include file="$(find progetto_rana)/launch/localization.launch" >
    </include>
    
</launch>